@page "/"
@page "/{ChatHistoryId:int}"
@using Caisy.Web.Features.Shared.Utilities;

<div class="d-flex align-center">
    <MudText Typo="Typo.h3" Class="mr-auto">
        Code Converter
    </MudText>
</div>

@if (User is null)
{
    <MudAlert Severity=Severity.Warning Icon="@Icons.Material.Outlined.Warning">
        An api key has not been set. Please go to your <MudLink Href="profile">profile</MudLink> and add an API key.
    </MudAlert>
}
else
{
    <EditForm Model="_convertCodeModel" OnValidSubmit="OnValidSubmitAsync">
        <DataAnnotationsValidator />
        <MudGrid>
            <MudItem xs="12" Class="d-flex align-end">
                <MudSelect @bind-Value=_convertCodeModel.Source Label="Source">
                    @foreach(var item in Enum.GetValues<ConvertCodeCommand.ConvertCodeOption>())
                    {
                        <MudSelectItem Value=item>@item.GetDisplayName()</MudSelectItem>
                    }
                </MudSelect>
                <MudIcon Icon="@Icons.Material.Outlined.ArrowForward" Class="mx-3"></MudIcon>
                <MudSelect @bind-Value=_convertCodeModel.Destination Label="Source">
                    @foreach (var item in Enum.GetValues<ConvertCodeCommand.ConvertCodeOption>())
                    {
                        <MudSelectItem Value=item>@item.GetDisplayName()</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>

            <MudItem xs="12">
                <MudFileUpload Context="fileUploadContext" T="IBrowserFile" OnFilesChanged="OnFileUploadAsync">
                    <ButtonTemplate>
                        <MudButton HtmlTag="label"
                               Variant="Variant.Filled"
                               Color="Color.Primary"
                               StartIcon="@Icons.Material.Filled.CloudUpload"
                               Size="Size.Large"
                                   for="@fileUploadContext">
                            Upload File
                        </MudButton>
                    </ButtonTemplate>
                </MudFileUpload>
            </MudItem>

            <MudItem xs="12" Class="pb-0">
                <h3>OR</h3>
            </MudItem>
            <MudItem xs="12" Class="pb-0">
                <h3>Paste your code</h3>
            </MudItem>

            <MudItem xs="12">
                <AdaptiveTextArea @bind-Value="_convertCodeModel.Code" Placeholder="Enter your code..." />
            </MudItem>
            <MudItem xs="12">
                <MudButton Disabled="@_isGenerating" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Outlined.Refresh">
                    Generate Code
                </MudButton>
            </MudItem>
            <MudItem md="2" sm="12">
                <MudSelect Label="Testing Framework" Variant="Variant.Text" @bind-Value="_generateTestsModel.Framework">
                    @foreach (var item in Enum.GetValues<GenerateTestsCommand.TestFramework>())
                    {
                        <MudSelectItem Value=item>@item.GetDisplayName()</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="12">
                <MudButton Disabled="GenerateTestsButtonIsDisabled" ButtonType="ButtonType.Button" OnClick="GenerateTests" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Outlined.Refresh">
                    Generate Tests
                </MudButton>
            </MudItem>
            <MudItem xs="12">
                @if (_isGenerating)
                {
                    <MudProgressLinear Color="Color.Primary" Indeterminate="@_isGenerating" Striped=true />
                }
            </MudItem>
            @if (CodeConverterState.Conversation.Messages.Count > 0)
            {
                <MudItem xs="12">
                    <div class="chat-container">
                        <MudTimeline TimelinePosition="TimelinePosition.Start">
                            @foreach (var message in CodeConverterState.Conversation.Messages)
                            {
                                var color = message.IsUserMessage ? Color.Dark : Color.Primary;
                                RenderFragment dot = message.IsUserMessage 
                                    ? @<MudIcon Icon=@Icons.Material.Outlined.Person></MudIcon> 
                                    : @<MudImage Src="caisy.png" Height="30" />;

                                <MudTimelineItem Color="color" Size="Size.Large" Elevation="0">
                                    <ItemDot>
                                        @dot
                                    </ItemDot>
                                    <ItemContent>
                                        <MudAlert Severity="Severity.Normal" NoIcon=true Class="alert-code">
                                            <MudMarkdown Value="@message.Content" CodeBlockTheme="User.CodeBlockTheme" />
                                        </MudAlert>
                                    </ItemContent>
                                </MudTimelineItem>
                            }
                        </MudTimeline>
                    </div>
                </MudItem>
            }
        </MudGrid>
    </EditForm>
}