@page "/"
@page "/converter/{ChatHistoryId:long}"

<Title>
    @_title
</Title>

<MudGrid>
    <MudItem xs="12">
        <MudPaper Class="pa-4">
            <MudText Typo="Typo.h4">
                @_title
            </MudText>
        </MudPaper>
    </MudItem>
</MudGrid>

<EditForm Model="_model" OnValidSubmit="OnValidSubmitAsync">
    <DataAnnotationsValidator />
    <ChatWindow Conversation="CodeConverterState.Conversation" Loading="_isGenerating"/>
    <ChatMessageBox @bind-Loading="@_isGenerating" @bind-Message="@_model.Code" MessageButtonText="Generate">
        <ToolbarContent>
            <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Primary" Variant="Variant.Filled" OnClick="ToggleOptions" />
            <FileUploadReader @bind-ReadContents="@_model.Code" Class="mt-0" />
            <GenerateTests IsDisabled="CannotGenerateTests" IsDisabledChanged="(value) => _isGenerating = value" />
        </ToolbarContent>
    </ChatMessageBox>
    <ChatOptionsDrawer Open="_isOptionsOpen">
        <MudGrid>
            <MudItem xs="12">
                <MudSelect @bind-Value=_model.Source Label="Source">
                    @foreach (var item in Enum.GetValues<ConvertCodeCommand.ConvertCodeOption>())
                    {
                        <MudSelectItem Value=item>@item.GetDisplayName()</MudSelectItem>
                    }
                </MudSelect>
                <MudSelect @bind-Value=_model.Destination Label="Destination">
                    @foreach (var item in Enum.GetValues<ConvertCodeCommand.ConvertCodeOption>())
                    {
                        <MudSelectItem Value=item>@item.GetDisplayName()</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
        </MudGrid>
    </ChatOptionsDrawer>
</EditForm>