@page "/"

<h1>Home</h1>

@if(ProfileState.Id is null)
{
    <MudAlert Severity=Severity.Warning Icon="@Icons.Material.Outlined.Warning">
        An api key has not been set. Please go to your <MudLink Href="/profile">profile</MudLink> and add an API key.
    </MudAlert>
}
else
{
    ﻿<EditForm OnValidSubmit="OnValidSubmitAsync" Model="_request">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12">
            <AdaptiveTextArea @bind-Value="_request.Prompt" />
        </MudItem>
        <MudItem xs="12">
            <MudCheckBox Label="Inlcude Test Case" @bind-Checked="_request.IncludeTestCase" For="() => _request.IncludeTestCase" />
        </MudItem>
        <MudItem xs="12">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Outlined.Check">
                Send
            </MudButton>
        </MudItem>

        <MudItem xs="12">
                <div class="chat-container">
                    @foreach (var message in _conversation.Messages)
                    {
                        if (@message.Role == OpenAI_API.Chat.ChatMessageRole.System) continue;
                        <MudItem xs="12">
                            <h3>@message.Role</h3>
                            <p>@message.Content</p>
                        </MudItem>
                    }

                    @if (_isInProgress)
                    {
                        <MudProgressLinear Color="Color.Primary" Indeterminate="@_isInProgress" Striped=true />
                    }
                </div>
        </MudItem>
        
    </MudGrid>
</EditForm>
}
