@page "/"

<div style="display: flex; align-items: center;">
    <h1 style="margin-right: auto;">Home</h1>
    <div id="new-chat-button">
        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">
            + New Chat
        </MudButton>
    </div>
</div>

@if (ProfileState.Id is null)
{
    <MudAlert Severity=Severity.Warning Icon="@Icons.Material.Outlined.Warning">
        An api key has not been set. Please go to your <MudLink Href="/profile">profile</MudLink> and add an API key.
    </MudAlert>
}
else
{
    ﻿
    <EditForm OnValidSubmit="OnValidSubmitAsync" Model="_request">
        <DataAnnotationsValidator />
        <MudGrid>
            <MudSelect Value=_source Label="Source" ValueChanged="@(EventCallback.Factory.Create<string>(this, OnSourceChangedAsync))">
                <MudSelectItem Value="@("SQL")">SQL</MudSelectItem>
                <MudSelectItem Value="@("Entity Framework")">Entity Framework</MudSelectItem>
            </MudSelect>
            <MudIcon Icon="@Icons.Material.Outlined.ArrowForward"></MudIcon>
            <MudSelect Value=_destination Label="Destination" ValueChanged="@(EventCallback.Factory.Create<string>(this, OnDestinationChangedAsync))">
                <MudSelectItem Value=@("SQL")>SQL</MudSelectItem>
                <MudSelectItem Value=@("Entity Framework")>Entity Framework</MudSelectItem>
            </MudSelect>
            <MudItem xs="12">
                <AdaptiveTextArea @bind-Value="_request.Prompt" />
            </MudItem>
            <MudItem xs="2">
                <MudCheckBox Label="Inlcude Test Case" @bind-Checked="_request.IncludeTestCase" For="() => _request.IncludeTestCase" />
            </MudItem>
            <MudItem xs="4">
                    @if (_request.IncludeTestCase)
                    {
                        <MudSelect Label="Test Case Type" Variant="Variant.Text" @bind-Value="_request.TestCaseType">
                            <MudSelectItem Value="@("XUnit")" />
                            <MudSelectItem Value="@("MSTest")" />
                        </MudSelect>
                    }

            </MudItem>
            <MudItem xs="12">
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Outlined.Check">
                    Send
                </MudButton>
            </MudItem>
            <MudItem xs="12">
                @if (_isInProgress)
                {
                    <MudProgressLinear Color="Color.Primary" Indeterminate="@_isInProgress" Striped=true />
                }
            </MudItem>
            @if (_conversation.Messages.Count > 1)
            {
                <MudItem xs="12">
                    <div class="chat-container">

                            <MudTimeline TimelinePosition="TimelinePosition.Start">
                                @foreach (var message in _conversation.Messages)
                                {
                                    if (message.Role == OpenAI_API.Chat.ChatMessageRole.System) continue;
                                    var isUserMessage = message.Role == OpenAI_API.Chat.ChatMessageRole.User;
                                    var color = isUserMessage ? Color.Dark : Color.Primary;
                                    var icon = isUserMessage ? Icons.Material.Outlined.SupervisedUserCircle : Icons.Material.Outlined.Computer;

                                    <MudTimelineItem Color="color" Size="Size.Large" Elevation="0">
                                        <ItemDot>
                                            <MudIcon Icon="@icon"></MudIcon>
                                        </ItemDot>
                                        <ItemContent>
                                            <MudAlert Severity="Severity.Normal" NoIcon=true>@message.Content</MudAlert>
                                        </ItemContent>
                                    </MudTimelineItem>
                                }
                            </MudTimeline>
                    </div>
                </MudItem>
            }
                
        </MudGrid>
    </EditForm>
}
