@page "/"

<h1>Home</h1>

﻿<EditForm OnValidSubmit="OnValidSubmitAsync" Model="_request">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12">
            <AdaptiveTextArea @bind-Value="_request.Prompt" />
            <MudProgressLinear Color="Color.Primary" Indeterminate="@_isInProgress" Striped=true />
        </MudItem>
        <MudItem xs="12">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Outlined.Check">
                Send
            </MudButton>
        </MudItem>

        <div class="chat-container">
            @foreach (var message in _conversation.Messages)
            {
                if (@message.Role == OpenAI_API.Chat.ChatMessageRole.System) continue;
                <MudItem xs="12">
                    <h3>@message.Role</h3>
                    <p>@message.Content</p>
                </MudItem>
            }
        </div>
    </MudGrid>
</EditForm>

@code {
    public string text { get; set; }
}