@page "/history"

<Title>
    @_title
</Title>

<MudGrid>
    <MudItem xs="12">
        <MudPaper Class="pa-4">
            <MudText Typo="Typo.h4">
                @_title
            </MudText>
        </MudPaper>
    </MudItem>
</MudGrid>

@if(_response != null)
{
    <MudGrid>
        <MudItem xs="12">
            <MudDataGrid Items="@_response.ChatHistories">
                <Columns>
                    <TemplateColumn Sortable="false">
                        <CellTemplate>
                            <MudIconButton Size="@Size.Small" Variant="@Variant.Filled" OnClick="() => NavigateToChat(context.Item)" Color="@Color.Primary" Icon="@Icons.Material.Outlined.OpenInBrowser" />
                            <MudIconButton Size="@Size.Small" Variant="@Variant.Filled" OnClick="() => DeleteChatAsync(context.Item)" Color="@Color.Error" Icon="@Icons.Material.Outlined.Delete" />
                        </CellTemplate>
                    </TemplateColumn>
                    <PropertyColumn Property="x => x.Summary" Title="Summary" />
                    <PropertyColumn Property="x => x.Type.GetDisplayName()" Title="Type" />
                    <PropertyColumn Property="x => x.CreatedOn" Title="Created" />
            </Columns>
            <NoRecordsContent>
                <MudAlert Severity="Severity.Info">
                    No history has been recorded yet.
                </MudAlert>
            </NoRecordsContent>
        </MudDataGrid>
        </MudItem>
    </MudGrid>    
}