@page "/codereader"
<MudText Typo="Typo.h3">Code Reader</MudText>
@if (UserProfileState.Id is null)
{
    <MudAlert Severity=Severity.Warning Icon="@Icons.Material.Outlined.Warning">
        An api key has not been set. Please go to your <MudLink Href="profile">profile</MudLink> and add an API key.
    </MudAlert>
}
else
{
    <EditForm Model="_request" OnValidSubmit="OnValidSubmitAsync">
        <DataAnnotationsValidator />
        <MudGrid>
            <MudItem xs="12">
                <MudSelect Value=_temperament Label="Temperament" ValueChanged="@(EventCallback.Factory.Create<string>(this, OnTemperamentChangedAsync))">
                    <MudSelectItem Value=@(" ")>Nice</MudSelectItem>
                    <MudSelectItem Value="@("Be as rude as possible.")">Rude</MudSelectItem>
                </MudSelect>
            </MudItem>

            <MudItem xs="12">
                <MudFileUpload Context="fileUploadContext" T="IBrowserFile" OnFilesChanged="OnFileUploadAsync">
                    <ButtonTemplate>
                        <MudButton HtmlTag="label"
                               Variant="Variant.Filled"
                               Color="Color.Primary"
                               StartIcon="@Icons.Material.Filled.CloudUpload"
                                   for="@fileUploadContext">
                            Upload File
                        </MudButton>
                    </ButtonTemplate>
                </MudFileUpload>
            </MudItem>

            <MudItem xs="12" Class="pb-0">
                <h3>OR</h3>
            </MudItem>
            <MudItem xs="12" Class="pb-0">
                <h3>Paste your code</h3>
            </MudItem>

            <MudItem xs="12">
                <AdaptiveTextArea @bind-Value="_request.Prompt" Placeholder="Enter your code..." />
            </MudItem>
            <MudItem xs="12">
                <MudButton Disabled="@_isInProgress" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Outlined.MenuBook">
                    Read Code
                </MudButton>
            </MudItem>
            <MudItem xs="12">
                @if (_isInProgress)
                {
                    <MudProgressLinear Color="Color.Primary" Indeterminate="@_isInProgress" Striped=true />
                }
            </MudItem>
            @if (_conversation.Messages.Count > 1)
            {
                <MudItem xs="12">
                    <div class="chat-container">
                        <MudTimeline TimelinePosition="TimelinePosition.Start">
                            @foreach (var message in _conversation.Messages)
                            {
                                if (message.Role == OpenAI_API.Chat.ChatMessageRole.System) continue;
                                var isUserMessage = message.Role == OpenAI_API.Chat.ChatMessageRole.User;
                                var color = isUserMessage ? Color.Dark : Color.Primary;
                                var icon = isUserMessage ? Icons.Material.Outlined.Person : Icons.Material.Outlined.Computer;

                                <MudTimelineItem Color="color" Size="Size.Large" Elevation="0">
                                    <ItemDot>
                                        @if (isUserMessage)
                                        {
                                            <MudIcon Icon="@icon"></MudIcon>
                                        }
                                        else
                                        {
                                            <MudImage Src="caisy.png" Height="30" />
                                        }

                                    </ItemDot>
                                    <ItemContent>
                                        <MudAlert Severity="Severity.Normal" NoIcon=true Class="alert-code">
                                            <MudMarkdown Value="@message.Content" CodeBlockTheme="UserProfileState.CodeBlockTheme" />
                                        </MudAlert>
                                    </ItemContent>
                                </MudTimelineItem>
                            }
                        </MudTimeline>
                    </div>
                </MudItem>
            }
        </MudGrid>
    </EditForm>
}